.responseDiv {
    width: 100%;
    overflow: auto;
    margin-bottom: 10px;
}

.responseDiv .avatarDiv{
    width: 10%;
    float: left;
}

.responseDiv .avatarDiv img{
    width : 100%;
}

.responseDiv  .responseText{
    width: 86%;
    float: left;
    margin-left: 22px;
    font-size: 20px;
    margin-top: 8px;
    background: #ede1e1;
    position: relative;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.responseDiv  .responseText::before{
    content: "";
    position: absolute;
    right: 99%;
    top: 0px;
    border-right: 20px solid #ede1e1;
    border-bottom: 13px solid transparent;
}

