.main {
    width: calc(100%/3 - 100px);
    height: calc(100%/2 + 100px);
    border: 1px solid #049292;
    border-radius: 15px;
    position: absolute;
    bottom: 20px;
    right: 50px;
    background-color: #fff;
    box-shadow: -3px 5px 20px 5px #447250;
    min-width: 250px;
    min-height: 350px;
}